---
Title: ReSharperReports 
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        ReSharperReports is a tool that helps to convert the XML Reports which are generated from the JetBrains Command Line Tools:
    </p>

    <ul>
        <li>
            <a href="https://confluence.jetbrains.com/display/NETCOM/Introducing+dupFinder">DupFinder</a>
        </li>
        <li>
            <a href="https://confluence.jetbrains.com/display/NETCOM/Introducing+InspectCode">InspectCode</a>
        </li>
    </ul>
    <p>
        into human readable HTML Reports.
    </p>
</div>